dummy-project/src/main/mule/dummy-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8847dbe9-d65e-4ecb-8461-f825583fd066" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummy-projectFlow" doc:id="84c62400-e76a-4e3d-ba9f-e8285767d4fa" >
		<http:listener doc:name="Listener" doc:id="2292a6ac-727b-4078-a4c7-76030dcd0fba" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hi dummy"]' doc:name="Set Payload" doc:id="b8adb0a0-85c5-49b2-96bf-6a6a73ae0959" />
	</flow>
</mule>
